.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.close-btn{
  font-size: 45px;
  font-weight: 300;
  cursor: pointer;
}
.line{
  border-bottom: 1px solid #949494;
  min-width: 100rem;
  padding-top:3rem;
}
.line_short{
  border-bottom: 1px solid #949494;
  min-width: 50rem;
  padding-top:2rem;
}

button:hover{
  cursor: pointer;
}
p{
  font-size: 9px;
  font-style: italic;
}
a{
  text-decoration: none;
  color: inherit;
}
h2{
  font-family:'Times New Roman', Times, serif;
  color:#532f03;
	font-size: 4em;
}
h3{
  font-family:'Times New Roman', Times, serif;
  color:#794609;
	font-size: 2.5em;
  margin: 1rem 0 1rem 0;
}
.title-container{
  position: relative;
  width: 100%;
  height: 15rem;
  overflow: hidden;
}
.title-image{
  width:100%;
  height:15rem;
  overflow:none;
  object-fit: cover;
}
.title{
  position: absolute;
  margin:0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e1d6c8;
  padding: 0.5rem;
  border-radius: 1rem;
  opacity: 0.85;
}
.title-input{
  font-size: 20px;
  line-height: 3rem;
  border: none;
  border-bottom: 1px solid black;
}
.description-input{
  line-height: 3rem;
  border: none;
  border-bottom: 1px solid black;
}
.query-image_container {
  position: relative; /* required for (c2) */ 
}
input[type=text]:focus {
  border: 2px solid #555;
}
#head{
  background: transparent;
  border: none;
}
.getimagesAPI-btn{
  padding:1rem;
  border-radius: 1rem;
  border: 1px solid #99682d;
}

.getimagesAPI-btn:hover{
  background-color: #824d0d;
  color: bisque;
}
.getimagesAPI-btn:hover {
  transform: scale(0.95);
  transition: all ease-in-out 0.1s
}

.query-image_container > img{
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
  border-radius: 1rem;
}

.fullcap {
  /*DIMENSIONS */
  box-sizing: border-box;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
 
  /*POSITION */
  position: absolute;
  top: 0; left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
 
   /*COLORS */
  background-color: rgba(0, 0, 0, 0.4);
  color: white;

  visibility: none; opacity: 0;
  transition: opacity 0.3s;
}

.query-image_container:hover .fullcap {
  visibility: visible; opacity: 1;
}
.sticky{
  position: sticky;
}
.get-images-container{
  display: flex;
  gap: 1rem;
  padding: 1rem;
}


.canvas{
	width: 100rem;
	height: 60rem;
	border-radius: 15px;
	border: 1px solid rgb(76, 76, 76);
  align-items: center;
  position: relative;
  background-color: rgb(237, 237, 237);
  background-image: radial-gradient(rgb(95, 95, 95) 1px, transparent 0);
  background-size: 50px 50px;
  background-position: -5px 5px;
}

.info-container{
  display: flex;
  gap: 2rem;
  padding: 1rem 0 1rem 0;
  justify-content: space-evenly;
  align-items: center;
}
.canvas-container{
  width:10rem;
  padding: 0.5rem;
  position: absolute;
}

.canvas-image_container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 10rem; 
  min-height: 18rem;
}
.canvas-image_container > img {
  width:100%;
  height:100%;
}
.canvas-image_container > span {
  display: none  
}
.canvas-image_container:hover{
  color: white;
  cursor: grab;
}
.canvas-image_container:hover span{
  display: block;
  color: white;
}

.canvas-img-btn{
  cursor: pointer;
  margin: 0.25rem 0  0  0;
  background-color: #000000;
}
.download-container{
  padding:1rem
}
.query-container{
  column-width: 13rem;
  max-width: 50rem;
}

.collection-container{
  background-color: #f9f9f9;
  min-width: 60rem;
  min-height: 15rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1rem;
  padding: 4rem;
  border: 1px dashed rgb(149, 149, 149);
  border-radius: 5rem;
}
.collection-card{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height:inherit;
  padding:1rem;
}
.collection-card_container{
  border: 1px solid rgb(205, 205, 205);
  margin: 1rem;
  min-height: 8rem;
  padding-bottom: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
}

.collection-image_container{
  display: flex;
  flex-direction: column;
}
.collection-image_container > img{
  max-width:15rem;
  border-radius: 0.5rem;
}

.collection-details_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-btn{
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid rgb(163, 163, 163);
  padding: 0.5rem;
  margin: 0.5rem;
}

.list-btn:hover {
  background-color: #b6b6b6;
  transform: scale(0.9);
  transition: all ease-in-out 0.1s
}
.artist-details{
  border-bottom: 1px solid rgb(205, 205, 205);
  padding:0.25rem;
}
.artist-details:hover{
  transform: scale(1.15);
  transition: all ease-in-out 0.1s
}

.close-btn{
  border: none;
  padding:0;
  margin:0.25rem;
  background: none;
}
.close-btn:hover{
  color: rgb(223, 58, 58);
}


#UnsplashDialog{
  padding:1rem;
  border-radius: 1rem;
  border: 1px solid rgb(149, 149, 149);
  min-width: 50rem;
  max-height: 50rem;
}

#PexelsDialog{
  padding:1rem;
  border-radius: 1rem;
  border: 1px solid rgb(149, 149, 149);
  min-width: 50rem;
  max-height: 50rem;
}
.download-btn_container{
  padding: 1rem
}
.download-btn{
  padding: 0.5rem
}
.examples{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}
.example-images{
  display: flex;
  justify-content: center;
  gap:1rem
}
.footer {
  background-color:#472905;
  color:white;
  position: sticky;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 10px;
	padding: 0.15rem;
	bottom: 0;
	width:100%;
}